
<mat-drawer-container class="side-container">

  <mat-drawer mode="side" opened class="sidenav">
    <p class="sideTitle">TAILTRIX</p>
    <div class="subtitle">
    <h2>  <mat-icon>view_stream</mat-icon> Servers</h2>
    </div>
    <mat-card class="example-card" *ngFor="let server of servers">
      <mat-card-title-group>
        <mat-card-title>	<mat-icon [ngStyle]="{'color':server.status === 'Active' ? '#3EBD1E' : 'red' }">view_stream</mat-icon>{{server?.name}}</mat-card-title>
        <mat-card-subtitle [ngStyle]="{'background-color':server.status === 'Active' ? '#3EBD1E' : 'red' }">{{server?.status}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        {{server?.desc}} <br>
        <mat-icon  [ngStyle]="{'color':server.state === 'Running..' ? '#3EBD1E' : '#FF8C00' }">check_circle_outline</mat-icon> {{server?.state}}
      </mat-card-content>
      <mat-divider></mat-divider>
    </mat-card>
   
  </mat-drawer>
  <mat-drawer-content class="main">
    <mat-toolbar>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon notifications-icon" aria-label="Example icon-button with  icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    <div>
      <h1>{{title}}</h1>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"><img [src]="element.imageUrl" />  {{element.name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="band">
          <th mat-header-cell *matHeaderCellDef> Band % </th>
          <td mat-cell *matCellDef="let element"> {{element.band}} </td>
        </ng-container>
      
        <ng-container matColumnDef="battery">
          <th mat-header-cell *matHeaderCellDef> Battery % </th>
          <td mat-cell *matCellDef="let element"> {{element.battery}} </td>
        </ng-container>
      
        <ng-container matColumnDef="lastonline">
          <th mat-header-cell *matHeaderCellDef> Last Online </th>
          <td mat-cell *matCellDef="let element"  [ngStyle]="{'color':element.lastonline === '30 mins ago' ? 'red' : 'white' }"> {{element.lastonline}} </td>
        </ng-container>
      
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> Country </th>
          <td mat-cell *matCellDef="let element"> {{element.country}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>
  </mat-drawer-content>

</mat-drawer-container>