.main {
    height: 100vh;
    background-color: #040E2F;
    color: white;
    font-size: 50px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
}
h1{
    padding-left: 24px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.sidenav {
    background-color: #1e3359;
    width: 30%;
    height: 100%;
    color: WHITE;
  }
  .sideTitle {
    padding: 24px 10px 15px 45px;
    font-family: monospace;
    font-weight: lighter;
    font-size: large;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 0px 22px 1px 48px;
    background: transparent;
    border-radius: 0px;
    color: white;
    box-shadow: none;
}
.mat-card-subtitle {
    width: 60px;
    border-radius: 18px;
    color: white;
    text-align: center;
}
.mat-divider{
    border-top-color: white;
  }
  .mat-card-title {
    margin-bottom: 2px;
    line-height: 61px;
  }
  .mat-card .mat-divider-horizontal {
    background: transparent;
    width: 90%;
}
.subtitle {
    margin-right: 230px;
    background: black;
    margin-left: 40px;
    font-size: 50px;
    font-weight: 600;
}
.mat-icon {
    margin: 3px 4px -1px 4px;
    padding: 0px;
}
table {
    margin: 20px;
    width: 67vw;
}

  img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }

  .mat-toolbar {
    background-color: #0c1228;
    color: #495275;
  }
  table.mat-table {
    border-spacing: 0;
    background: transparent;
  }
  td.mat-cell, td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    color: white;
    font-size: small;
    font-weight: 500;
}
th.mat-header-cell {
    color: white;
}